<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
  </head>
  <style></style>
  <body>
    <div style="height: 100vh;">
      <div>
      
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <div>
          <p class="text-danger">
            Dear <%=receiver%>,Your parcel sent by <%=sender%> has been arrived successfully arrived ,You can pick it Up at your own convinient time. <br>
            
          </p>
          <h2>Parcel Traking No:</h2><%=trackingno%>
        </div> <br>
       <p>Thank you.</p>
      </div>
    </div>
       
  </body>
</html>
