<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
  </head>
  <style></style>
  <body>
    <div style="height: 100vh; display: flex; gap: 3rem">
      <div>
        <img
          style="
            width: 300px;
            height: 300px;
            border-radius: 10px;
            object-fit: cover;
          "
          src="https://cdn.sanity.io/images/8gk3imu6/production/65ed72deac647aa84f75c5af8f6284ab926931b0-1200x900.png"
          alt=""
        />
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <div>
          <p class="text-danger">
            Thank you <%=username%>,You have successfully registered with
            SendIt.Start Enjoying our services
          </p>
        </div>
      </div>
    </div>
       
  </body>
</html>
