<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
  </head>
  <style></style>
  <body>
    <div style="height: 100vh;">
      <div>
      
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <div>
          <p class="text-danger">
            Dear <%=sender%>,Your parcel has been sent to <%=receiver%>.
            Give us some hours to Deliver.
          </p>
          <h2>Parcel Traking No:</h2><%=trackingno%>
        </div>
      </div>
    </div>
       
  </body>
</html>
